@model IEnumerable<WebApiFetcher.Models.Comment>
@{
    ViewData["Title"] = "Index";
}

<html>
<body>
    <form class="form-inline" method="POST">
        <div class="form-group col-md-offset-3">
            <label for="userId" class="label label-primary label-btn">Enter user id:</label>
            <input id="userId" name="userId" class="form-control " />
        </div>
        <button type="submit" class="btn btn-success">Send</button>
    </form>
    @if (Model != null)
    {
        <table class="table table-bordered table-hover table-striped d-lg-table-cell">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> Id</th>
                    <th scope="col">Post id</th>
                    <th scope="col"> Created At</th>
                    <th scope="col"> Likes</th>
                    <th scope="col">Body</th>
                    <th scope="col">User id</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr scope="row">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Likes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
</body>
</html>