


@model IEnumerable<WebApiFetcher.Models.Post>
@{
    ViewData["Title"] = "Index";
}

<html>
<body>
    <form method="POST">
        <label for="userId">User id-></label>
        <input type="text" data-val="true" id="userId" name="userId" size="15" class="rounded"
               placeholder="Enter user id" data-val-required="The user id field is required." />
        <input type="submit" />
    </form>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Likes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Body)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Comments)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Likes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
</body>
</html>


