@model IEnumerable<WebApiFetcher.Models.Comment>
@{
    ViewData["Title"] = "Index";
}
<html>
<body>
    @if (Model != null)
    {
    <table class="table table-bordered table-hover table-striped d-lg-table-cell">
        <thead>
            <tr>
                <th>Id</th>
                <th>User id</th>
                <th>Created at</th>
                <th>Likes</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Likes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
            </tr>
    }

        </tbody>
    </table>
    }
</body>
</html>
