@model IEnumerable<WebApiFetcher.Models.User>
@{
    ViewData["Title"] = "GetUsers";
}
<html>
<body>

    @if (Model != null)
    {
        <table class="table table-condensed table-hover" style="border-collapse:collapse">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Posts)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            <a class="nav-link" href="@Url.Action("Index","SingleUser",new { id = item.Id })">  @Html.DisplayFor(modelItem => item.Name) </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <button type="button" data-toggle="collapse" class="accordion-toggle btn btn-success" data-target="#@(item.GetHashCode())">
                                Розгорнути Posts
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="hiddenRow">
                            <div class="accordian-body collapse" id="@(item.GetHashCode())">
                                <table class="table table-condensed" style="border-collapse:collapse">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.First().Posts.First().Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.First().Posts.First().CreatedAt)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.First().Posts.First().Likes)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.First().Posts.First().Comments)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var post in item.Posts)
                                        {

                                            <tr>
                                                <td>
                                                    <a class="nav-link" href="@Url.Action("Index","SinglePost",new { id = post.Id })">  @Html.DisplayFor(modelItem => post.Title) </a>
                                                <td>
                                                    @Html.DisplayFor(modelItem => post.CreatedAt)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => post.Likes)
                                                </td>
                                                <td>
                                                    @{ 
                                                        Random rand = new Random();
                                                        int a = rand.GetHashCode();
                                                        //int a = emp.GetHashCode();
                                                    }
                                                    <button type="button" data-toggle="collapse" class="accordion-toggle btn btn-success" data-target="#@a">
                                                        Розгорнути Comments
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="@a">
                                                        <table class="table table-condensed table-striped" style="border-collapse:collapse">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.First().Posts.First().Comments.First().Id)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.First().Posts.First().Comments.First().PostId)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.First().Posts.First().Comments.First().Likes)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.First().Posts.First().Comments.First().CreatedAt)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.First().Posts.First().Comments.First().Body)
                                                                    </th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                @if (post?.Comments?.Count != 0)
                                                                {
                                                                    <p>ssss</p>

                                                                }
                                                                @*@foreach (var com in post.Comments)
                                                                    {

                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => com.id)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => com.createdAt)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => com.likes)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => com.createdAt)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => com.body)
                                                                            </td>
                                                                        </tr>
                                                                    }*@


                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>

                                </table>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>



@*<td>
        <a asp-action="Details" asp-route-id="@item.id">Details</a>
    </td>*@