@model WebApiFetcher.Models.PostStruct
@{
    ViewData["Title"] = "PostStruct";
}

<html>
<body>
    <form class="form-inline" method="POST">
        <div class="form-group col-md-offset-3">
            <label for="userId" class="label label-primary label-btn">Enter user id:</label>
            <input id="userId" name="userId" class="form-control " />
        </div>
        <button type="submit" class="btn btn-success">Send</button>
    </form>
    @if (Model != null)
    {
    <table class="table table-bordered table-hover table-striped d-lg-table-cell">
        <thead>
            <tr>
                <th>Latest Post</th>
                <th>Best Commented</th>
                <th>Best liked</th>
                <th>Posts Count</th>
                <th>Undone tasks counts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.LatestPost)
                </td>
                <td>
                    @Html.DisplayFor(model => model.BestCommented)
                </td>
                <td>
                    @Html.DisplayFor(model => model.BestLiked)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PostsCount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.UnTodo)
                </td>
            </tr>

        </tbody>
    </table>
    }
</body>
</html>

