@model IEnumerable<WebApiFetcher.Models.Todo>
@{
    ViewData["Title"] = "Index";
}
<html>
<body>
    <form class="form-inline" method="POST">
        <div class="form-group col-md-offset-3">
            <label for="userId" class="label label-primary label-btn">Enter user id:</label>
            <input id="userId" name="userId" class="form-control " />
        </div>
        <button type="submit" class="btn btn-success">Send</button>
    </form>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Is Complete</th>
                    <th>User id</th> 
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsComplete)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                </tr>
                }

            </tbody>
        </table>
    }
</body>
</html>
