@model IEnumerable<WebApiFetcher.Models.Todo>
@{
    ViewData["Title"] = "Index";
    //var Dictionary = (Dictionary<int?, string>)ViewData["dict"];

}
<html>
<body>
    <form method="POST">
        <label for="userId">User id-></label>
        <input type="text" data-val="true" id="userId" name="userId" size="15" class="rounded"
               placeholder="Enter user id" data-val-required="The user id field is required." />
        <input type="submit" />
    </form>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().IsComplete)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().UserId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsComplete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
</body>
</html>
